@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin-bottom: 3rem;
  font-size: 20pt;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-image: url(./6191107.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

#primer-parrafo {
  color: rgba(245, 255, 136, 0.722);
}

#textbox {
  padding: 0.5rem;
  color: rgb(1, 0, 0);
  opacity: 1;
  height: 2rem;
  outline: none;
  border: none;
  border-radius: 5px;
  border-bottom: 1px solid white;
  text-align: center;
}

#textbox::placeholder {
  color: white;
  opacity: 0.5;
}

#textbox::-webkit-outer-spin-button,
#textbox::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#btn {
  display: flex;
  width: 6rem;
  height: 2rem;
  border: 2px solid blue;
  background-color: white;
  transition: all 0.4s;
}

#btn:hover {
  cursor: pointer;
  color: white;
  border-radius: 10px solid blue;
  background-color: blue;
  border-radius: 100px;
}

#letra {
  margin: 0;
  color: white;
}

#letraf {
  color: red;
}
